*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(back.jpg);
    background-size: cover;
}
.form-body{
    height: 60vh;
    width: 23vw;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
}
h1{
    margin: 15px;
}
input{
    height: 40px;
    width: 250px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    font-size: 20px;
    margin: 15px;
    outline: none;
}
.button button{
    height: 40px;
    width: 200px;
    background: transparent;
    border: 3px solid rgba(255, 255, 255, 0.2);
    font-size: 25px;
    outline: none;
    margin: 30px;
    cursor: pointer;
}
.forpass{
    text-align: right;
    margin-top: 20px;
}
.forpass a{
    margin: 15px;
    color: aqua;
    font-size: 20px;

}

.signup{
    margin-top: 20px;
    font-size: 20px;
}
.signup a{
    margin: 5px;
    color:aqua;
}
a:hover{
    transition: 0.5s;
    border-bottom: 1px solid aqua;
}